

<h1>Dogs Index</h1>

<% if flash[:notify] %>
  <%= flash[:notify] %>
<% end %>

<ul>
  <% @dogs.each do  |dog|%>
    <% dog_url = "/dogs/#{dog.id}" %>
    <li><a href=<%= dog_url %>>Name: <%= dog.name %></a>, Owner: <%= dog.owner.name %>, Breed: <%= dog.breed.name %></li>
    <br>
    <form action=<%= dog_url %> >
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="DELETE DOG">
    </form>
  <% end %>
</ul>
<a href="/dogs/new">New Dog!</a>
