<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <%= error %>
  <% end %>
<% end %>


<form action="/dogs" method="POST">
  <label>Name
    <input type="text" name="dog[name]" value="<%= @dog.name %>">
  </label>
  <br>
  <label>Owner
    <select name="dog[owner_id]">
      <option>Please Select</option>
      <% @owners.each do |owner| %>
        <option value=<%= owner.id %>><%= owner.name %></option>
      <% end %>
    </select>
  </label>
  <br>
  <label>Breed
    <select name="dog[breed_id]">
      <option>Please Select</option>
      <% @breeds.each do |breed| %>
        <option value=<%= breed.id %>><%= breed.name %></option>
      <% end %>
    </select>
  </label>
  <br>
  <input type="submit">
</form>
